src/main/resources/petstore.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://qontract.run/petstore/api" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://qontract.run/sample/petstore" targetNamespace="http://qontract.run/sample/petstore">
  <wsdl:types>
    <xs:schema xmlns:tns="http://qontract.run/petstore/api" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://qontract.run/petstore/api">

    <xs:element name="AddPetRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="type" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AddPetResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetPetRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetPetResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="type" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="type" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SearchResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Pet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:int"/>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="type" type="xs:string"/>
                            <xs:element name="status" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="SearchRequest">
    <wsdl:part element="sch:SearchRequest" name="SearchRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPetResponse">
    <wsdl:part element="sch:GetPetResponse" name="GetPetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddPetRequest">
    <wsdl:part element="sch:AddPetRequest" name="AddPetRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddPetResponse">
    <wsdl:part element="sch:AddPetResponse" name="AddPetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPetRequest">
    <wsdl:part element="sch:GetPetRequest" name="GetPetRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SearchResponse">
    <wsdl:part element="sch:SearchResponse" name="SearchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PetstorePort">
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchRequest" name="SearchRequest">
    </wsdl:input>
      <wsdl:output message="tns:SearchResponse" name="SearchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPet">
      <wsdl:input message="tns:GetPetRequest" name="GetPetRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetPetResponse" name="GetPetResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPet">
      <wsdl:input message="tns:AddPetRequest" name="AddPetRequest">
    </wsdl:input>
      <wsdl:output message="tns:AddPetResponse" name="AddPetResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PetstorePortSoap11" type="tns:PetstorePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Search">
      <soap:operation soapAction=""/>
      <wsdl:input name="SearchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPet">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetPetRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetPetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPet">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddPetRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddPetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PetstorePortService">
    <wsdl:port binding="tns:PetstorePortSoap11" name="PetstorePortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>